<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <script src="https://kit.fontawesome.com/e884d70755.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <title>Создать заявку</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
  <div class="app">
  <form method="post"> {% csrf_token %}
    <div class="app-header">
      <img src="{% static 'img/logo_blue.svg' %}" alt="" class="app__logo">
      <div class="app-text">
        <p class="app-text__title">Российская Товарищеская Хоккейная Лига</p>
        <p class="app-text__team">{{ team.name }}</p>
        <p class="app-text__match">{{ view.nearest_match.info }}</p>
      </div>
      <img src="{{ team.image.url }}" alt="" class="app__team">
    </div>
    <div class="app-players">
      <div class="app-players-type">
        <p class="app-players-type__title">Выберите полевых игроков (не более 20)</p>
        <div class="app-players-type-cards">
          <div class="app-players-type-cards__line"><div>Полевые</div></div>
            {% for player in view.players_outfield %}
          <div class="app-players-type-card">
            <img src="{{ player.image.url }}" alt="" class="app-players-type-card__img">
            <div class="app-players-type-card__overlay hidden"></div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.game_number }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.role.0 }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.two_letters_qualification }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.age }}</span>
            </div>
            <div class="app-players-type-card__name">{{ player.fullname }}</div>
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="app-players-type">
        <p class="app-players-type__title">Выберите вратарей (не более 2)</p>
        <div class="app-players-type-cards">
          <div class="app-players-type-cards__line"><div>Вратари</div></div>
            {% for player in view.players_goalkeepers %}
          <div class="app-players-type-card">
            <img src="{{ player.image.url }}" alt="" class="app-players-type-card__img">
            <div class="app-players-type-card__overlay hidden"></div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.game_number }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.role.0 }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.two_letters_qualification }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.age }}</span>
            </div>
            <div class="app-players-type-card__name">{{ player.fullname }}</div>
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="app-players-type">
        <p class="app-players-type__title">Выберите администрацию</p>
        <div class="app-players-type-cards">
          <div class="app-players-type-cards__line"><div>Администрация</div></div>
            {% for player in view.players_adm %}
          <div class="app-players-type-card">
            <img src="{{ player.image.url }}" alt="" class="app-players-type-card__img">
            <div class="app-players-type-card__overlay hidden"></div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.game_number }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.role.0 }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.two_letters_qualification }}</span>
            </div>
            <div class="app-players-type-card-param">
              <span class="app-players-type-card-param__text">{{ player.age }}</span>
            </div>
            <div class="app-players-type-card__name">{{ player.fullname }}</div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <button type="button" class="app-submit" onClick="window.print()">Создать PDF документ</button>
    <button type="submit" class="app-submit">Подтвердить состав команды на игру</button>
  </form>
  </div>
  <script>
    $('.app-players-type-card').click( function(){
      $(this).toggleClass('app-players-type-card-active')
      $(this).children('.app-players-type-card-param').toggleClass('app-players-type-card-param-active');
      $(this).children('.app-players-type-card__overlay').toggleClass('hidden');
    });
  </script>
</body>
</html>