{% extends "base.html" %}
{% block title %}{{ team.name }} | РТХЛ{% endblock %}
{% block content %}	{% block content %}
  <p>{{ team.name }}</p>	{% load static %}
{% endblock %} 	<div class="team">
  <div class="container">
    <div class="team-block">
      <div class="team-header">
        <img src="" alt="Логотип команды" class="team__logo">
        <div class="team-name">
          <h1 class="team__title">COSMO</h1>
          <span class="team__from">Москва</span>
        </div>
        <div class="team-info">
          <button class="team-info__application">Заявка команды на игру</button>
          <div class="team-info-item">
            <span class="team-info-item__title">Дивизион</span>
            <span class="team-info-item__text">Серебряный</span>
          </div>
          <div class="team-info-item">
            <span class="team-info-item__title">Рейтинг</span>
            <span class="team-info-item__text">2,36</span>
          </div>
          <div class="team-info-item">
            <span class="team-info-item__title">Главный тренер</span>
            <span class="team-info-item__text">Анатолий Федотов</span>

          </div>
        </div>
        <div class="team-nav">
          <div class="team-nav-item">
            <button class="team-nav__btn">Матчи</button>
            <div class="team-nav__line active"></div>
          </div>
          <div class="team-nav-item">
            <button class="team-nav__btn">Состав</button>
            <div class="team-nav__line hidden"></div>
          </div>
          <div class="team-nav-item">
            <button class="team-nav__btn">Медиа</button>
            <div class="team-nav__line hidden"></div>
          </div>
          <div class="team-nav-item">
            <button class="team-nav__btn">Турниры</button>
            <div class="team-nav__line hidden"></div>
          </div>
        </div>
        <div class="team-matches team-switch">
          <div class="team-matches-column">
            <h2 class="team-matches__title">Ближайшие</h2>
            <div class="team-matches-card">
              <div class="team-matches-card-teams">
                <div class="team-matches-card-team1">
                  <div class="team-matches-card-team1__name">ХХК СГМ)</div>
                  <div class="team-matches-card-team1__from">Москва</div>
                </div>
                <div class="team-matches-card-team1">
                  <div class="team-matches-card-team2__name">ХК Феникс</div>
                  <div class="team-matches-card-team2__from">Москва</div>
                </div>
              </div>
              <div class="team-matches-card-info">
                <img src="{% static 'img/team.png' %}" alt="Команда 1" class="team-matches-card__img">
                <div class="team-matches-card-match">
                  <span class="team-matches-card__first">23.11</span>
                  <span class="team-matches-card__second">18:00</span>
                  <span class="team-matches-card__third">Янтарь</span>
                </div>
                <img src="{% static 'img/team2.png' %}" alt="Команда 2" class="team-matches-card__img">
              </div>
            </div>
          </div>
          <div class="team-matches-column">
            <h2 class="team-matches__title">Прошедшие</h2>
            <div class="team-matches-card">
              <div class="team-matches-card-teams">
                <div class="team-matches-card-team1">
                  <div class="team-matches-card-team1__name">ХХК СГМ)</div>
                  <div class="team-matches-card-team1__from">Москва</div>
                </div>
                <div class="team-matches-card-team1">
                  <div class="team-matches-card-team2__name">ХК Феникс</div>
                  <div class="team-matches-card-team2__from">Москва</div>
                </div>
              </div>
              <div class="team-matches-card-info">
                <img src="{% static 'img/team.png' %}" alt="Команда 1" class="team-matches-card__img">
                <div class="team-matches-card-match">
                  <span class="team-matches-card__first">23.11, 18:00</span>
                  <span class="team-matches-card__second">5 : 3</span>
                  <span class="team-matches-card__third">Янтарь</span>
                </div>
                <img src="{% static 'img/team2.png' %}" alt="Команда 2" class="team-matches-card__img">
              </div>
            </div>
          </div>
        </div>
        <div class="team-players team-switch">

        </div>
        <div class="team-media team-switch">

        </div>
        <div class="team-tournaments team-switch">

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}