{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% load static %}

{% block content %}
  <div class="teams">
    <div class="container">
      <div class="teams-block">
        <div class="teams-league">
          <p class="teams-league__title"></i></p>
          <div class="teams-league-teams">
            <a class="teams-league-team" href="#">
              <img src="" alt="" class="teams-league-team__img">
              <div class="teams-league-team-text">
                <p class="teams-league-team__title"></p>
                <p class="teams-league-team__subtitle"></p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}