{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% load static %}
<div class="match">
  <div class="container">
    <div class="match-block">
      <div class="match-header">
        <p class="match-header__date">{{ match.date }}</p>
        <p class="match-header__place"><a href="#">{{ match.place }}<i class="fas fa-map-marker-alt"></i></a></p>
        <div class="match-header-main">
          <div class="match-header-team-left">
            <img src="{{ view.teamA.image.url }}" alt="Команда 1" class="match-header-team-left__logo">
            <div class="match-header-team-left-info">
              <h1 class="match-header-team-left__name">{{ view.teamA.name }}</h1>
              <span class="match-header-team-left__trainer">Тренер:<br>{{ view.teamA_coach }}</span>
            </div>      
          </div>
          <div class="match-header-match">
            <div class="match-header-match-count">
              <span class="match-header-match-count__item">????</span>
              <span class="match-header-match-count__item">-</span>
              <span class="match-header-match-count__item">????</span>
            </div>
            <div class="match-header-match-counts">
              <span class="match-header-match-counts__item"></span>
              <span class="match-header-match-counts__item"></span>
              <span class="match-header-match-counts__item"></span>
              <span class="match-header-match-counts__item"></span>
            </div>
          </div>
          <div class="match-header-team-right">
            <img src="{{ view.teamB.image.url }}" alt="Команда 1" class="match-header-team-right__logo">
            <div class="match-header-team-right-info">
              <h1 class="match-header-team-right__name">{{ view.teamB.name }}</h1>
              <span class="match-header-team-right__trainer">Тренер:<br>{{ view.teamB_coach }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="match-nav">
        <div class="match-nav-item">
          <button id="defaultOpen" class="match-nav__btn tablink" onclick="openBlock(event, 'protocol', 'line1')">Протокол</button>
          <div id="line1" class="match-nav__line line"></div>
        </div>
        <div class="match-nav-item">
          <button class="match-nav__btn tablink" onclick="openBlock(event, 'players', 'line2')">Состав</button>
          <div id="line2" class="match-nav__line line"></div>
        </div>
        <div class="match-nav-item">
          <button class="match-nav__btn tablink" onclick="openBlock(event, 'statistics', 'line3')">Статистика</button>
          <div id="line3" class="match-nav__line line"></div>
        </div>
      </div>
      <div id="protocol" class="match-protocol tab" id="protocol">
        <div class="match-protocol-block">
          <p class="match-protocol-period__title"></p>
          <div class="match-protocol-period">
            <div class="match-protocol-event-left-fine match-protocol-event event">
              <div class="match-protocol-event-left-fine-text">
                <p class="match-protocol-event-left-fine-text__item"></p>
                <p class="match-protocol-event-left-fine-text__item"></p>
              </div>
              <div class="match-protocol-event-left-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-left-fine-action__img">
                <span class="match-protocol-event-left-fine-action__text"></span>
              </div>
              <div class="match-protocol-event-left-fine-time time">
                <span class="match-protocol-event-left-fine-time__text"></span>
              </div>
            </div>
            <div class="match-protocol-event-left-goal match-protocol-event event">
              <div class="match-protocol-event-left-goal-text">
                <p class="match-protocol-event-left-goal-text__item"></p>
                <p class="match-protocol-event-left-goal-text__item"></p>
                <p class="match-protocol-event-left-goal-text__item"></p>
              </div>
              <div class="match-protocol-event-left-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-left-goal-action__img">
                <span class="match-protocol-event-left-goal-action__text"></span>
              </div>
              <div class="match-protocol-event-left-goal-time time">
                <span class="match-protocol-event-left-goal-time__text"></span>
              </div>
            </div>

            <div class="match-protocol-event-right-fine match-protocol-event event">
              <div class="match-protocol-event-right-fine-time time">
                <span class="match-protocol-event-right-fine-time__text"></span>
              </div>
              <div class="match-protocol-event-right-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-right-fine-action__img">
                <span class="match-protocol-event-right-fine-action__text"></span>
              </div>
              <div class="match-protocol-event-right-fine-text">
                <p class="match-protocol-event-right-fine-text__item"></p>
                <p class="match-protocol-event-right-fine-text__item"></p>
              </div>
            </div>
            <div class="match-protocol-event-right-goal match-protocol-event event">
              <div class="match-protocol-event-right-goal-time time">
                <span class="match-protocol-event-right-goal-time__text"></span>
              </div>
              <div class="match-protocol-event-right-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-right-goal-action__img">
                <span class="match-protocol-event-right-goal-action__text"></span>
              </div>
              <div class="match-protocol-event-right-goal-text">
                <p class="match-protocol-event-right-goal-text__item"></p>
                <p class="match-protocol-event-right-goal-text__item"></p>
                <p class="match-protocol-event-right-goal-text__item"></p>
              </div>
            </div>
          </div>         
        </div>
      </div>
      <div id="players" class="match-players tab" id="players">
        <div class="match-players-type">
          <h2 class="match-players-type__title">Вратари</h2>
          <div class="match-players-type-table">
              {% for g in view.teamA_goalkeepers %}
            <div class="match-players-type-line">
              <div class="match-players-type-line-left">
                <span class="match-players-type-line-left__num">{{ g.game_number }}</span>
                <img src="{{ g.image.url }}" alt="" class="match-players-type-line-left__img">
                <a href="../player/{{ g.id }}" class="match-players-type-line-left__name">{{ g.fullname }}<a href="#"></a></a>
              </div>

              <div class="match-players-type-line-right">
                <span class="match-players-type-line-right__name"><a href="#">{{ g.game_number }}</a></span>
                <img src="{{ g.image.url }}" alt="" class="match-players-type-line-right__img">
                <span class="match-players-type-line-right__num">{{ g.fullname }}</span>
              </div>
            </div>
              {% endfor %}

          </div>
        </div>
      </div>
      <div id="statistics" class="match-statistics tab" id="statistics">
        <div class="match-statistics-team">
          <h2 class="match-statistics__title"></h2>
          <div class="match-statistics-table-block">
            <table class="match-statistics-table">
              <tr class="match-statistics-table-header">
                <th class="match-statistics-table-header__item">#</th>
                <th class="match-statistics-table-header__item"></th>
                <th class="match-statistics-table-header__item">Вратари</th>
                <th class="match-statistics-table-header__item">Г</th>
                <th class="match-statistics-table-header__item">П</th>
                <th class="match-statistics-table-header__item">О</th>
                <th class="match-statistics-table-header__item">Ш</th>
              </tr>
              <tr class="match-statistics-table-line">
                <td class="match-statistics-table-line__item"></td>
                <td class="match-statistics-table-line__item"><img src="" alt="Игрок"></td>
                <td class="match-statistics-table-line__item"><a href="#"></a></td>
                <td class="match-statistics-table-line__item"></td>
                <td class="match-statistics-table-line__item"></td>
                <td class="match-statistics-table-line__item"></td>
                <td class="match-statistics-table-line__item"></td>
              </tr>
            </table>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
<script>
  function openBlock(event, blockName, line) {
    var i, tabcontent, tablinks, lines;
    lines = document.getElementsByClassName("line");
    for (i = 0; i < lines.length; i++) {
        lines[i].style.display = "none";
    }
    tabcontent = document.getElementsByClassName("tab");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(blockName).style.display = "block";
    document.getElementById(line).style.display = "block";
    event.currentTarget.className += " active";
}
</script>
{% endblock %}