@font-face {
  font-family: Ubuntu-Bold;
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu-Regular, sans-serif;
  position: relative;
  box-sizing: border-box;
  color: #343333;
}

button {
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Ubuntu-Regular, sans-serif;
}

button:active, button:focus {
  outline: none;
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.container {
  padding: 40px 30px;
}

a {
  cursor: pointer;
  color: #343333;
  text-decoration: none;
  font-family: Ubuntu-Regular, sans-serif;
}

a:active, a:focus {
  outline: none;
}

.fa {
  transition: color, linear, .3s;
}

.fa-vk:hover {
  color: #2787F5;
}

.fa-youtube-play:hover {
  color: #c4302b;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #e1306c;
}

@media (max-width: 1080px) {
  .container {
    padding: 30px 30px;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 20px;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 15px;
  }
}

.header {
  color: #ffffff;
  background: linear-gradient(90deg, rgba(20, 36, 138, 0.9) 0%, rgba(75, 95, 225, 0.9) 100%), url(../img/bg.jpg);
  background-size: cover;
  margin-bottom: 1px;
}

.header-block {
  padding: 60px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: 135px;
  margin-right: 50px;
}

.header__title {
  font-size: 36px;
  line-height: 41px;
  max-width: 500px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  height: 135px;
  align-items: flex-end;
}

.header__link {
  margin-right: 25px;
  font-size: 30px;
  color: #ffffff;
}

.header__search {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 65px;
}

.header-login__btn {
  height: 45px;
  width: 240px;
  border-radius: 30px;
  padding: 7px 19px;
  background-color: rgba(20, 36, 138, 0.5);
  font-size: 18px;
  font-family: Ubuntu-Regular, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color, linear, .2s;
}

.header-login__btn:hover {
  background-color: rgba(20, 36, 138, 0.8);
}

.header__menu {
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
}

.header-nav {
  position: sticky;
  top: -1px;
  z-index: 99;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  height: 60px;
  background-color: #3241A5;
}

.header-nav__item {
  width: 175px;
  height: 60px;
  background-color: #3241A5;
  font-size: 18px;
  color: #ffffff;
  vertical-align: middle;
  transition: background-color, linear, .2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

.header-nav__item:hover {
  background-color: #14248A;
}

.header-nav-more {
  display: block;
  align-self: start;
}

.header-nav-dropdown {
  display: none;
}

.header-nav-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-ham-menu {
  right: -250px;
  height: 100%;
  position: fixed;
  width: 250px;
  background-color: #3241A5;
}

.header-ham-content {
  padding: 30px 40px;
  text-align: right;
}

.header-ham-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-ham__item {
  margin-bottom: 7px;
  font-size: 20px;
}

.header-ham__item a {
  color: #ffffff;
}

.header__close {
  font-size: 25px;
  margin-bottom: 20px;
}

@media (max-width: 1080px) {
  .header-block {
    padding: 40px 50px;
  }
  .header__logo {
    height: 110px;
    margin-right: 35px;
  }
  .header__title {
    font-size: 24px;
  }
  .header__link {
    font-size: 22px;
  }
  .header-links {
    height: 120px;
  }
  .header-login__btn {
    font-size: 16px;
    width: 200px;
  }
  .header-login__btn img {
    height: 20px;
  }
  .header-nav {
    height: 50px;
  }
  .header-nav__item {
    height: 50px;
    font-size: 16px;
    width: 150px;
  }
}

@media (max-width: 780px) {
  .header-block {
    padding: 20px 30px;
  }
  .header__logo {
    height: 90px;
    margin-right: 25px;
  }
  .header__title {
    font-size: 20px;
    line-height: 1.5;
    font-family: Ubuntu-Regular, sans-serif;
  }
  .header-links {
    height: 90px;
  }
  .header__link {
    font-size: 18px;
    margin-right: 15px;
  }
  .header-login__btn {
    font-size: 14px;
    width: 160px;
    justify-content: center;
    height: 40px;
  }
  .header-login__btn img {
    display: none;
  }
  .header-nav {
    height: 45px;
  }
  .header-nav__item {
    height: 45px;
    width: 120px;
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .header-block {
    padding: 15px 20px;
  }
  .header__logo {
    height: 70px;
    margin-right: 15px;
  }
  .header__title {
    font-size: 18px;
  }
  .header-links {
    height: 30px;
    justify-content: center;
  }
  .header__menu {
    display: inline-block;
  }
  .header-social, .header-nav, .header-login {
    display: none;
  }
}

@media (max-width: 400px) {
  .header-block {
    padding: 10px 15px;
  }
  .header__logo {
    height: 60px;
  }
  .header__title {
    font-size: 16px;
    margin-right: 30px;
  }
  .header__menu {
    font-size: 18px;
  }
}

.footer {
  color: #ffffff;
  background: linear-gradient(90deg, rgba(20, 36, 138, 0.9) 0%, rgba(75, 95, 225, 0.9) 100%), url(../img/bg.jpg);
  background-size: cover;
}

.footer-block {
  padding: 40px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-first {
  align-self: start;
}

.footer-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 30px;
}

.footer-pages__item {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  color: #ffffff;
}

.footer-pages__item::after {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 1px;
  transition: 0.2s;
}

.footer-pages__item:hover::after {
  width: 100%;
}

.footer-pages__c {
  font-family: Ubuntu-Regular, sans-serif;
}

.footer-pages__list {
  font-size: 24px;
  margin-bottom: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 75px;
}

.footer-links {
  margin-bottom: 45px;
}

.footer__partner {
  margin-bottom: 30px;
  margin-right: 30px;
  transition: .2s;
  height: 100px;
  width: 100px;
  flex-basis: 25%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__partner:nth-child(6) {
  flex-basis: 55%;
  height: 75px;
  margin-bottom: 0;
}

.footer__partner:nth-child(6) img {
  width: 335px;
  height: auto;
}

.footer__partner:nth-child(5) {
  margin-left: 50px;
  margin-bottom: 0;
}

.footer__partner__img {
  height: 100px;
  width: auto;
  opacity: 0;
}

.footer__partner__img__mc {
  height: 100px;
  width: auto;
}

.footer__partner img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.footer-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start;
  max-width: 680px;
  flex-wrap: wrap;
}

.footer-partners__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 24px;
  flex-basis: 100%;
}

@media (max-width: 1230px) {
  .footer__partner {
    height: 70px;
    width: 70px;
  }
  .footer__partner__img {
    height: 70px;
    width: auto;
    opacity: 0;
  }
  .footer__partner__img__mc {
    height: 70px;
    width: auto;
  }
  .footer__partner:nth-child(6) {
    flex-basis: 200px;
    height: 45px;
    margin-right: 15px;
  }
  .footer__partner:nth-child(6) img {
    width: 200px;
    height: auto;
  }
  .footer__partner:nth-child(5) {
    margin-left: 10px;
  }
  .footer-partners {
    max-width: 400px;
  }
}

@media (max-width: 1080px) {
  .footer-pages__list, .footer-partners__title {
    font-size: 18px;
  }
  .footer-partner:nth-child(5) {
    margin-right: 15px;
  }
}

@media (max-width: 860px) {
  .footer {
    background-size: contain;
  }
  .footer-pages {
    flex-flow: column;
  }
  .footer-pages__list {
    margin-right: 50px;
  }
}

@media (max-width: 650px) {
  .footer-block {
    padding: 30px 30px;
    flex-flow: column-reverse;
  }
  .footer-partners {
    margin-bottom: 40px;
  }
  .footer-pages {
    flex-flow: row;
  }
}

@media (max-width: 420px) {
  .footer-partners {
    max-width: 270px;
  }
  .footer__partner {
    flex-basis: 35%;
  }
  .footer__partner:nth-child(5) {
    margin-bottom: 30px;
  }
}

.documents-block {
  padding: 40px 150px;
}

.documents__title {
  font-size: 48px;
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  color: #3241A5;
}

.documents__title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 730px;
  bottom: -20px;
  left: 0;
  background-color: #3241A5;
}

.documents-cards__card {
  display: block;
  width: 700px;
  height: 75px;
  font-size: 24px;
  margin-bottom: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BAB9B9;
  transition: .2s;
}

.documents-cards__card:hover {
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.25);
}

.documents-cards__card:last-child {
  margin-bottom: 0;
}

.documents-cards__text {
  font-family: Ubuntu-Medium, sans-serif;
}

@media (max-width: 1080px) {
  .documents-block {
    padding: 20px 80px;
  }
  .documents__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .documents__title::after {
    width: 515px;
    bottom: -15px;
  }
  .documents-cards__card {
    width: 500px;
    height: 60px;
    padding-left: 15px;
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .documents-block {
    padding: 20px 50px;
  }
  .documents__title::after {
    height: 1px;
  }
}

@media (max-width: 640px) {
  .documents__title {
    font-size: 24px;
  }
  .documents__title::after {
    width: 330px;
  }
  .documents-cards__card {
    width: 300px;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    font-family: Ubuntu-Regular, sans-serif;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .documents-block {
    padding: 20px 20px;
  }
  .documents__title::after {
    width: 300px;
  }
  .documents-cards__card {
    width: 280px;
    padding: 0 10px;
    font-size: 15px;
  }
}

.insurance-block {
  padding: 40px 150px;
}

.insurance__title {
  font-size: 48px;
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  color: #3241A5;
}

.insurance__title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 730px;
  bottom: -20px;
  left: 0;
  background-color: #3241A5;
}

.insurance-cards__card {
  display: block;
  width: 700px;
  height: 75px;
  font-size: 24px;
  margin-bottom: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #BAB9B9;
  transition: .2s;
}

.insurance-cards__card:hover {
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.25);
}

.insurance-cards__card:last-child {
  margin-bottom: 0;
}

.insurance-cards__text {
  font-family: Ubuntu-Medium, sans-serif;
}

@media (max-width: 1080px) {
  .insurance-block {
    padding: 20px 80px;
  }
  .insurance__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .insurance__title::after {
    width: 515px;
    bottom: -15px;
  }
  .insurance-cards__card {
    width: 500px;
    height: 60px;
    padding-left: 15px;
    font-size: 18px;
  }
}

@media (max-width: 780px) {
  .insurance-block {
    padding: 20px 50px;
  }
  .insurance__title::after {
    height: 1px;
  }
}

@media (max-width: 640px) {
  .insurance__title {
    font-size: 24px;
  }
  .insurance__title::after {
    width: 330px;
  }
  .insurance-cards__card {
    width: 300px;
    height: 50px;
    padding: 0 15px;
    font-size: 16px;
    font-family: Ubuntu-Regular, sans-serif;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .insurance-block {
    padding: 20px 20px;
  }
  .insurance__title::after {
    width: 300px;
  }
  .insurance-cards__card {
    width: 280px;
    padding: 0 10px;
    font-size: 15px;
  }
}

.contacts-block {
  padding: 40px 150px;
}

.contacts__title {
  font-size: 48px;
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  color: #3241A5;
}

.contacts__title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 840px;
  bottom: -20px;
  left: 0;
  background-color: #3241A5;
}

.contacts-cards__card {
  display: block;
  width: 800px;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #BAB9B9;
  transition: .2s;
}

.contacts-cards__card:hover {
  box-shadow: 0px 6px 15px -5px rgba(0, 0, 0, 0.25);
}

.contacts-cards__card:last-child {
  margin-bottom: 0;
}

.contacts-cards__name {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  max-width: 600px;
}

.contacts-cards__link > a {
  font-family: Ubuntu-Medium, sans-serif;
  transition: .2s;
  white-space: nowrap;
}

.contacts-cards__link:hover > a {
  color: #3241A5;
}

.contacts-cards__btn {
  background: #3241A5;
  font-size: 18px;
  width: 150px;
  height: 50px;
  padding: 5px 30px;
  border-radius: 10px;
  display: block;
  transition: .2s;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}

.contacts-cards__btn:hover {
  background-color: #14248A;
  box-shadow: 0px 6px 10px -6px rgba(50, 65, 165, 0.4);
}

.contacts-cards__img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

@media (max-width: 1080px) {
  .contacts-block {
    padding: 20px 80px;
  }
  .contacts__title {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .contacts__title::after {
    width: 640px;
    bottom: -15px;
  }
  .contacts-cards__card {
    width: 600px;
    font-size: 18px;
  }
  .contacts-cards__name {
    margin-bottom: 15px;
    max-width: 450px;
  }
  .contacts-cards__img {
    height: 80px;
  }
  .contacts-cards__btn {
    font-size: 16px;
    height: 45px;
    width: 130px;
  }
}

@media (max-width: 780px) {
  .contacts-block {
    padding: 20px 50px;
  }
  .contacts__title::after {
    width: 540px;
    height: 1px;
  }
  .contacts-cards__card {
    width: 500px;
    padding: 15px 20px;
  }
  .contacts-cards__name {
    max-width: 400px;
  }
  .contacts-cards__img {
    height: 60px;
  }
}

@media (max-width: 640px) {
  .contacts__title {
    font-size: 24px;
  }
  .contacts__title::after {
    width: 330px;
  }
  .contacts-cards__card {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Ubuntu-Regular, sans-serif;
    margin-bottom: 15px;
  }
  .contacts-cards__name {
    max-width: 250px;
    margin-bottom: 10px;
  }
  .contacts-cards__btn {
    font-size: 12px;
    height: 35px;
    width: 100px;
  }
  .contacts-cards__img {
    display: none;
  }
}

@media (max-width: 480px) {
  .contacts-block {
    padding: 20px 20px;
  }
  .contacts__title::after {
    width: 300px;
  }
  .contacts-cards__card {
    width: 280px;
    padding: 10px 10px;
    font-size: 15px;
  }
  .contacts-cards__name {
    max-width: 240px;
  }
}

.teams__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-bottom: 7px;
}

.teams__subtitle {
  padding: 0;
  margin: 0;
  font-size: 16px;
  margin-bottom: 30px;
}

.teams__star {
  color: #BAB9B9;
}

.teams__select:hover {
  cursor: pointer;
}

.teams__selected {
  color: #FAFF00;
}

.teams-league {
  border: 1px solid #BAB9B9;
  padding: 50px 60px 20px 70px;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.teams-league__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: Ubuntu-Medium, sans-serif;
  font-size: 28px;
}

.teams-league-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  width: 350px;
  height: 50px;
  margin-bottom: 30px;
  margin-right: 10px;
  transition: .3s;
  padding: 7px;
  border-radius: 5px;
}

.teams-league-team:hover {
  box-shadow: 0px 6px 12px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.teams-league-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teams-league-team__img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.teams-league-team__title {
  font-size: 18px;
  font-family: Ubuntu-Medium, sans-serif;
  flex-basis: 290px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

.teams-league-team__subtitle {
  font-size: 16px;
  color: #727272;
  margin: 0;
  padding: 0;
}

@media (max-width: 1272px) {
  .teams-league-teams {
    justify-content: start;
  }
}

@media (max-width: 1080px) {
  .teams-league {
    padding: 30px 30px 0 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 780px) {
  .teams__title {
    font-size: 16px;
  }
  .teams__subtitle {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .teams-league {
    margin-bottom: 30px;
  }
  .teams-league__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .teams-league-team {
    margin-bottom: 15px;
    width: 320px;
  }
  .teams-league-team__img {
    height: 35px;
    width: 35px;
  }
  .teams-league-team__title {
    font-size: 16px;
  }
}

@media (max-width: 560px) {
  .teams-league__title {
    font-size: 20px;
  }
}

@media (max-width: 482px) {
  .teams-league {
    padding: 20px;
    padding-bottom: 0;
  }
  .teams-league__title {
    font-size: 16px;
  }
  .teams-league-team {
    width: 280px;
  }
  .teams-league-team__title {
    font-size: 14px;
  }
  .teams-league-team__subtitle {
    font-size: 14px;
  }
}

.team-block {
  padding: 50px 120px;
  border: 1px solid #BAB9B9;
}

.team-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
}

.team__logo {
  width: 200px;
  height: auto;
  margin-right: 50px;
}

.team__title {
  font-size: 48px;
  margin: 0;
  margin-bottom: 5px;
}

.team__from {
  font-size: 24px;
  color: #727272;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  flex-basis: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.team-info__application {
  width: 150px;
  height: 50px;
  font-size: 14px;
  border: 1px solid #3241A5;
  margin-left: 25px;
  margin-right: 75px;
  color: #343333;
  background-color: #ffffff;
}

.team-info-item {
  margin-right: 120px;
}

.team-info-item:last-child {
  margin-right: 0;
}

.team-info-item__title {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  color: #727272;
}

.team-info-item__text {
  font-size: 30px;
  color: #3241A5;
  font-family: Ubuntu-Medium, sans-serif;
}

.team-nav {
  width: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.team-nav::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #BAB9B9;
  left: 0;
  bottom: 0;
}

.team-nav-item {
  position: relative;
}

.team-nav__btn {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #fff;
  font-size: 24px;
  color: #343333;
  margin: 0;
  padding: 0;
}

.team-nav__line {
  position: absolute;
  content: "";
  height: 3px;
  width: 200px;
  background-color: #3241A5;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.team-matches {
  width: 100%;
}

.team-matches-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-matches-column {
  flex-basis: 50%;
}

.team-matches__title {
  margin-top: 0;
}

.team-matches-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  width: 500px;
  height: 175px;
  border: 1px solid #BAB9B9;
}

.team-matches-card-teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.team-matches-card-team1, .team-matches-card-team2 {
  text-align: center;
  flex-basis: 50%;
}

.team-matches-card-team1__name, .team-matches-card-team2__name {
  font-size: 16px;
  font-family: Ubuntu-Medium, sans-serif;
}

.team-matches-card-team1__from, .team-matches-card-team2__from {
  font-size: 14px;
  color: #727272;
}

.team-matches-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.team-matches-card__img {
  height: auto;
  width: 70px;
}

.team-matches-card-match {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

.team-matches-card__first, .team-matches-card__third {
  font-size: 16px;
  color: #727272;
}

.team-matches-card__second {
  font-size: 24px;
  margin: 5px 0;
  font-family: Ubuntu-Medium, sans-serif;
  color: #3241A5;
}

.team-players {
  width: 100%;
}

.team-players-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.team-players-table-header {
  background-color: #3241A5;
  height: 50px;
}

.team-players-table-header__item {
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
}

.team-players-table-line {
  height: 75px;
  border: 1px solid #BAB9B9;
  border-top: none;
}

.team-players-table-line__item {
  text-align: center;
}

.team-players-table-line__img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.team-media {
  width: 100%;
}

.team-media-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  flex-wrap: wrap;
}

.team-media-card {
  margin-bottom: 30px;
  flex-basis: 33%;
}

.team-media-card__video {
  display: block;
  margin-bottom: 10px;
}

.team-media-card__title {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}

.team-media-card__date {
  font-size: 18px;
  color: #727272;
}

.team-tournaments {
  width: 100%;
}

.team-tournaments-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.team-tournaments-table-header {
  background-color: #3241A5;
  height: 50px;
}

.team-tournaments-table-header__item {
  font-weight: normal;
  color: #ffffff;
  font-size: 18px;
  padding: 0 10px;
}

.team-tournaments-table-line {
  height: 50px;
  border: 1px solid #BAB9B9;
  border-top: none;
}

.team-tournaments-table-line__item {
  text-align: center;
}

.tab, .line {
  display: none;
}

.schedule-date {
  width: 300px;
  height: 100px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
}

.schedule-date a {
  font-size: 18px;
  font-family: Ubuntu-Regular, sans-serif;
}

.schedule-date:nth-child(4) {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.schedule-date:nth-child(4) a {
  font-family: Ubuntu-Medium, sans-serif;
  font-size: 24px;
}

.schedule-dates {
  border: 1px solid #BAB9B9;
  margin-top: 40px;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}

.schedule-dates-left {
  transform: rotate(180deg);
  margin-top: -4px;
  margin-right: 30px;
  margin-left: 30px;
}

.schedule-dates-right {
  margin-left: 30px;
  margin-right: 30px;
}

.schedule-league {
  padding: 40px 120px 20px 120px;
  border: 1px solid #BAB9B9;
  margin-bottom: 40px;
}

.schedule-league:last-child {
  margin-bottom: 0;
}

.schedule-league__title {
  font-family: Ubuntu-Medium, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.schedule-league-table {
  width: 100%;
  border-spacing: 0;
}

.schedule-league-table-block {
  margin-bottom: 30px;
}

.schedule-league-table td {
  text-align: center;
}

.schedule-league-table__col1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 15px;
}

.schedule-league-table__col2 {
  width: 450px;
}

.schedule-league-table__col5 {
  width: 40px;
}

.schedule-league__header {
  font-size: 18px;
  padding: 15px 40px;
  background-color: #3241A5;
  color: #ffffff;
}

.schedule-league-line {
  font-size: 24px;
  padding: 30px;
  border: 1px solid #BAB9B9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: none;
  transition: background-image .3s linear;
}

.schedule-league-line__tour, .schedule-league-line__place {
  margin-right: 15px;
}

.schedule-league-line__team1, .schedule-league-line__team2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
  text-align: left;
}

.schedule-league-line__team1 div, .schedule-league-line__team2 div {
  min-height: 52px;
  min-width: 52px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-right: 10px;
}

.schedule-league-line__team1 div img, .schedule-league-line__team2 div img {
  height: 35px;
  width: 35px;
}

.schedule-league-line__team1 {
  margin-bottom: 10px;
}

.schedule-league-line__video i {
  color: #727272;
  font-size: 32px;
  transition: .2s;
}

.schedule-league-line__video i:hover {
  color: #3241A5;
}

@media (max-width: 1080px) {
  .schedule-date:nth-child(4) a {
    font-size: 18px;
  }
  .schedule-league {
    padding: 40px 80px 20px 80px;
  }
  .schedule-league-table__col1 {
    flex-flow: column;
  }
  .schedule-league-line {
    padding: 20px;
  }
  .schedule-league-line__tour, .schedule-league-line__place {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 840px) {
  .schedule-date {
    width: 300px;
    height: 70px;
    font-family: Ubuntu-Regular, sans-serif;
  }
  .schedule-date a {
    font-size: 16px;
    font-family: Ubuntu-Regular, sans-serif;
  }
  .schedule-date:nth-child(2), .schedule-date:nth-child(6) {
    display: none;
  }
  .schedule-dates {
    margin-top: 20px;
  }
  .schedule-dates-left {
    margin-right: 15px;
    margin-left: 15px;
  }
  .schedule-dates-right {
    margin-left: 15px;
    margin-right: 15px;
  }
  .schedule-league {
    padding: 40px 40px 20px 40px;
  }
  .schedule-league-line {
    padding: 15px 20px;
    font-size: 20px;
  }
}

@media (max-width: 780px) {
  .schedule-league-table__col2 {
    width: 350px;
  }
  .schedule-league__title {
    font-size: 24px;
  }
  .schedule-league-line {
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  .schedule-league {
    padding: 20px 20px 0 20px;
  }
  .schedule-league__title {
    margin-bottom: 20px;
  }
  .schedule-league__header {
    font-size: 16px;
    padding: 15px 20px;
  }
  .schedule-league-table-block {
    min-height: 125px;
    overflow: scroll;
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(50, 65, 165, 0.25), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(50, 65, 165, 0.25), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
  }
  .schedule-league-line {
    font-size: 18px;
  }
  .schedule-league-line__place, .schedule-league-line__time {
    margin-right: 0;
  }
  .schedule-league-line__video {
    font-size: 24px;
  }
  .schedule-league-line__team1, .schedule-league-line__team2 {
    padding-left: 10px;
  }
  .schedule-league-line__team1 div, .schedule-league-line__team2 div {
    min-height: 41px;
    min-width: 41px;
  }
  .schedule-league-line__team1 div img, .schedule-league-line__team2 div img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 480px) {
  .schedule-league__title {
    font-size: 18px;
  }
  .schedule-league__header {
    padding: 15px;
  }
}

.createTeam-block {
  padding: 50px 120px;
  border: 1px solid #BAB9B9;
}

.createTeam__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  font-family: Ubuntu-Medium, sans-serif;
}

.createTeam-field {
  margin-bottom: 40px;
}

.createTeam-field__text {
  display: inline-block;
  width: 120px;
  font-size: 18px;
}

.createTeam-field__name {
  width: 350px;
  height: 35px;
  padding-left: 15px;
  font-size: 18px;
  border: none;
  border: 1px solid #BAB9B9;
  border-radius: 5px;
  transition: .2s;
  font-family: Ubuntu-Regular, sans-serif;
  color: #343333;
}

.createTeam-field__name:focus {
  outline: none;
  border-color: #3241A5;
}

.createTeam-field__example {
  padding: 15px 30px;
  background-color: #3241A5;
  margin-left: -3px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  transition: .2s;
  display: inline-block;
  text-align: center;
  font-family: Ubuntu-Regular, sans-serif;
}

.createTeam-field__example:hover {
  background-color: #14248A;
}

.createTeam-field__players {
  margin-top: 30px;
  margin-left: 120px;
}

.createTeam-field__logo, .createTeam-field__players {
  display: none;
}

.createTeam-field__logo-text, .createTeam-field__players-text {
  display: block;
  margin-top: 60px;
}

.createTeam-field-upld {
  margin-left: 120px;
}

.createTeam-field-upld-logo {
  margin-top: 30px;
}

.createTeam-field-upld-players {
  margin-top: 80px;
}

.createTeam-field-upld label {
  cursor: pointer;
  background: #ffffff;
  border: 1px dashed #BAB9B9;
  border-radius: 5px;
  padding: 50px 125px;
  color: #343333;
  transition: .2s;
}

.createTeam-field-upld label:hover {
  border-color: #14248A;
}

.createTeam__btn {
  width: 300px;
  height: 50px;
  padding: 15px 115px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  transition: .2s;
  border: none;
  background-color: #3241A5;
  font-family: Ubuntu-Regular, sans-serif;
  margin-left: 120px;
  display: block;
  margin-top: 75px;
  margin-bottom: 50px;
}

.createTeam__btn:hover {
  background-color: #14248A;
}

#fl_inp {
  display: none;
}

.fl_upld {
  width: 300px;
}

.fl_upld label {
  cursor: pointer;
  background: #36c;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.fl_upld label:hover {
  background: #fc0;
}

#fl_nm {
  margin-top: 20px;
  color: #f00;
}

.player-block {
  padding: 50px 120px;
  border: 1px solid #BAB9B9;
}

.player__img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.player__name {
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 30px;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  margin-bottom: 30px;
}

.player-info__item {
  font-size: 24px;
  font-family: Ubuntu-Regular, sans-serif;
  color: #727272;
  height: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.player-info__item::after {
  position: absolute;
  content: "";
  height: 50px;
  width: 1px;
  background-color: #727272;
  right: -25px;
  top: 0;
}

.player-info__item:last-child {
  height: auto;
  margin-right: 0;
  flex-flow: column;
  align-items: start;
}

.player-info__item:last-child div {
  justify-content: start;
  margin-bottom: 20px;
}

.player-info__item:last-child div:last-child {
  margin-bottom: 0;
}

.player-info__item:last-child::after {
  height: 0;
}

.player-info-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-info-team__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.player-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
}

.player-stats__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  flex-basis: 100%;
}

.player-stats-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 320px;
  margin-right: 150px;
}

.player-stats-list:nth-child(3) {
  width: 180px;
  margin-right: 0;
}

.player-stats-list__item {
  margin-bottom: 10px;
  font-size: 18px;
}

.player-stats-list__item-text {
  font-family: Ubuntu-Medium, sans-serif;
}

.player-stats-extra {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: start;
}

.player-stats-bio, .player-stats-dis {
  width: 320px;
  margin-right: 150px;
  margin-top: 30px;
  font-size: 18px;
}

.player-stats-bio__title, .player-stats-dis__title {
  font-family: Ubuntu-Medium, sans-serif;
}

.player-stats-bio__text, .player-stats-dis__text {
  margin: 0;
  margin-top: 10px;
}

.player-stats-dis {
  margin-right: 0;
}

.player-matches__title {
  margin: 0;
  font-size: 24px;
  margin-bottom: 20px;
}

.player-matches__header {
  height: 75px;
  width: 100%;
  background-color: #3241A5;
  padding: 0 25px;
  font-size: 24px;
  color: #ffffff;
  box-sizing: border-box;
  transition: .2s;
  margin-bottom: 1px;
  font-family: Ubuntu-Medium, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.player-matches__header:first-child {
  margin-bottom: 0;
}

.player-matches__header i {
  font-size: 36px;
}

.player-matches__header:hover {
  background-color: #14248A;
}

.player-matches-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.player-matches-table-header {
  height: 50px;
  background-color: #3241A5;
  color: #ffffff;
}

.player-matches-table-header__item {
  font-weight: normal;
  padding: 0 10px;
  font-family: Ubuntu-Medium, sans-serif;
}

.player-matches-table-line {
  height: 50px;
  border: 1px solid #BAB9B9;
  border-top: none;
}

.player-matches-table-line__item {
  text-align: center;
  padding: 5px 7px;
}

@media (max-width: 1080px) {
  .player-block {
    padding: 40px 80px;
  }
  .player__img {
    height: 150px;
    width: 150px;
  }
  .player__name {
    font-size: 24px;
  }
  .player-info {
    flex-wrap: wrap;
  }
  .player-info__item {
    font-size: 18px;
    margin-right: 30px;
  }
  .player-info__item::after {
    top: 10px;
    right: -15px;
    height: 30px;
  }
  .player-info__item:nth-child(4) {
    margin-right: 0;
  }
  .player-info__item:nth-child(4)::after {
    height: 0;
  }
  .player-info__item:last-child {
    margin-top: 25px;
    align-items: center;
    flex-basis: 100%;
  }
  .player-info__item:last-child div {
    width: auto;
    margin-bottom: 20px;
  }
  .player-stats-list {
    margin-right: 100px;
  }
  .player-stats-bio {
    margin-right: 100px;
  }
  .player-matches__header {
    font-size: 18px;
    height: 50px;
    font-family: Ubuntu-Regular, sans-serif;
  }
  .player-matches__header i {
    font-size: 24px;
  }
}

@media (max-width: 780px) {
  .player-block {
    padding: 40px;
  }
  .player-stats__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .player-stats-list__item {
    font-size: 18px;
  }
  .player-stats-bio, .player-stats-dis {
    margin-top: 25px;
    font-size: 18px;
  }
  .player-stats-bio {
    margin-right: 0;
    flex-basis: 100%;
  }
  .player-matches-table-header {
    height: 40px;
  }
  .player-matches-table-header__item {
    font-size: 14px;
  }
  .player-matches-table::first-line__item {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .player-matches-table-block {
    overflow: scroll;
    background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white), linear-gradient(to right, rgba(50, 65, 165, 0.25), rgba(255, 255, 255, 0)), linear-gradient(to left, rgba(50, 65, 165, 0.25), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
  }
}

@media (max-width: 480px) {
  .player-block {
    padding: 20px 20px;
  }
  .player__img {
    height: 120px;
    width: 120px;
  }
  .player__name {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .player-info__item {
    font-size: 16px;
  }
  .player-info__item:last-child {
    margin-top: 15px;
    align-items: start;
  }
  .player-info-team__img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .player-stats__title {
    font-size: 18px;
  }
  .player-stats-list__item {
    font-size: 16px;
  }
  .player-stats-bio, .player-stats-dis {
    width: 250px;
    font-size: 16px;
  }
}