{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="news">
  <div class="news-block">
    <h1 class="news__title">Новости</h1>
    <div class="news-cards">
      <a href="#" class="news-card">
        <img src="" alt="Фото" class="news-card__img">
        <div class="news-card-text">
          <h3 class="news-card__title"></h3>
          <p class="news-card__announce"></p>
          <span class="news-card__date"></span>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}