<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Табло | РТХЛ</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <script src="https://kit.fontawesome.com/e884d70755.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" name="ProtocolForm" method="post">
    {% csrf_token %}
  <input name='stopwatch' size=10 value="00:00:00.00" readonly="true">
  <div class="modal-goal modal modal-goal-left">
    <div class="modal-goal-block">
      <div class="modal-goal-header">
        <h1 class="modal-goal__title">Гол</h1>
        <h1 class="modal-goal__team">{{ view.teamA }}</h1>
      </div>
      <div class="modal-goal-players">
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Ассистент</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamA_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamA_goal_assistant1" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Ассистент</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamA_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamA_goal_assistant2" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Гол</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamA_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamA_goal_player" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
      </div>
      <button type="submit" class="modal-goal-left__submit modal__submit">Готово</button>
    </div>
  </div>

  <div class="modal-goal modal modal-goal-right">
    <div class="modal-goal-block">
      <div class="modal-goal-header">
        <h1 class="modal-goal__title">Гол</h1>
        <h1 class="modal-goal__team">{{ view.teamB }}</h1>
      </div>
      <div class="modal-goal-players">
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Ассистент</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamB_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamB_goal_assistant1" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Ассистент</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamB_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamB_goal_assistant2" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-goal-part">
          <h2 class="modal-goal-part__title">Гол</h2>
          <div class="modal-goal-part-players">
              {% for player in view.teamB_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamB_goal_player" class="modal-goal-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
      </div>
      <button type="submit" class="modal-goal-right__submit modal__submit">Готово</button>
    </div>
  </div>

  <div class="modal-del modal modal-del-left">
    <div class="modal-del-block">
      <div class="modal-del-header">
        <h1 class="modal-del__title">Удаление</h1>
        <h1 class="modal-del__team">{{ view.teamA }}</h1>
      </div>
      <div class="modal-del-players">
        <div class="modal-del-part">
          <h2 class="modal-del-part__title">Игрок</h2>
          <div class="modal-del-part-players">
              {% for player in view.teamA_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamA_penalty_player" class="modal-del-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-del-part">
          <h2 class="modal-del-part__title">Нарушение</h2>
          <div class="modal-del-part-players">
            <input type="radio" class="modal-del-part-players__btn modal-select">НАРУШЕНИЕ 1,2,3,4,5...</input>
          </div>
        </div>
      </div>
      <button type="submit" class="modal-del-left__submit modal__submit">Готово</button>
    </div>
  </div>

  <div class="modal-del modal modal-del-right">
    <div class="modal-del-block">
      <div class="modal-del-header">
        <h1 class="modal-del__title">Удаление</h1>
        <h1 class="modal-del__team">{{ view.teamB }}</h1>
      </div>
      <div class="modal-del-players">
        <div class="modal-del-part">
          <h2 class="modal-del-part__title">Игрок</h2>
          <div class="modal-del-part-players">
              {% for player in view.teamB_players_sorted_by_game_number %}
            <input type="radio" value="{{ player.game_number }}" name="teamB_penalty_player" class="modal-del-part-players__btn modal-select">{{ player.game_number }}</input>
              {% endfor %}
          </div>
        </div>
        <div class="modal-del-part">
          <h2 class="modal-del-part__title">Нарушение</h2>
          <div class="modal-del-part-players">
            <input type="radio" class="modal-del-part-players__btn modal-select">НАРУШЕНИЕ 1,2,3,4,5...</input>
          </div>
        </div>
      </div>
      <button type="submit" class="modal-del-right__submit modal__submit">Готово</button>
    </div>
  </div>
  </form>

  <div class="board-nav">
    <button id="playersBtn" class="board-nav-item tablink" onclick="openBlock(event, 'players')">Составы (1)</button>
    <button id="defaultOpen" class="board-nav-item tablink" onclick="openBlock(event, 'board')">Табло (2)</button>
    <button id="protocolBtn" class="board-nav-item tablink" onclick="openBlock(event, 'protocol')">Протокол (3)</button>
  </div>

  <div class="board-block">
    <div id="board" class="board-board tab">
      <div class="board-header">
        <div class="board-header-team">
          <p class="board-header-team__name">{{ view.teamA }}</p>
          <span class="board-header-team__goals">{{ view.goalsA.count }}</span>
        </div>
        <div class="board-header-time">
          <button id="minus" class="board-header-time__minus"><span>-</span><p>(C\C)</p></button>
          <span class="board-header-time__time">20:00</span>
          <button id="plus" class="board-header-time__plus"><span>+</span><p>(M\Ь)</p></button>
        </div>
        <div class="board-header-team">
          <p class="board-header-team__name">{{ view.teamB }}</p>
          <span class="board-header-team__goals">{{ view.goalsB.count }}</span>
        </div>
      </div>
      <div class="board-buttons">
        <div class="board-buttons-left">
          <button id="leftGoal" class="board-buttons-left-goal">ГОЛ<p>(Левый Shift)</p></button>
          <button id="leftDel" class="board-buttons-left-del">УДАЛЕНИЕ<p>(Левый Alt)</p></button>
        </div>
        <button id="stop" onclick="StartStop()" class="board-buttons-stop">STOP/GO<p>(Пробел)</button>

          <div class="board-buttons-right">
          <button id="rightGoal" class="board-buttons-right-goal">ГОЛ<p>(Правый Shift)</button>
          <button id="rightDel" class="board-buttons-right-del">УДАЛЕНИЕ<p>(Правый Alt)</button>
        </div>
      </div>
    </div>
    
    <div id="protocol" class="board-protocol-block tab">
      <div class="match-protocol-block">
          <p class="match-protocol-period__title">1 период</p>
          <div class="match-protocol-period">
                {% for action in view.actions1period %}
                  {% if action.type == "Штраф" and action.team_side == "A" %}
            <div class="match-protocol-event-left-fine match-protocol-event event">
              <div class="match-protocol-event-left-fine-text">
                <p class="match-protocol-event-left-fine-text__item">#{{ action.player.game_number }} | {{ action.player.fullname }}</p>
                <p class="match-protocol-event-left-fine-text__item">{{ action.paragraph }}</p>
              </div>
              <div class="match-protocol-event-left-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-left-fine-action__img">
                <span class="match-protocol-event-left-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-left-fine-time time">
                <span class="match-protocol-event-left-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "A" %}
            <div class="match-protocol-event-left-goal match-protocol-event event">
              <div class="match-protocol-event-left-goal-text">
              <p class="match-protocol-event-left-goal-text__item">#{{ action.player_score.game_number }} | {{ action.player_score.fullname }}</p>
                  {% for player in action.players_passes.all %}
                <p class="match-protocol-event-left-goal-text__item">#{{ player.game_number }} | {{ player.fullname }}</p>
                  {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-left-goal-action__img">
                  <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-left-goal-action__text"><b>{{ value.0 }}</b>:{{ value.1 }}</span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-time time">
                <span class="match-protocol-event-left-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Штраф" and action.team_side == "B" %}
            <div class="match-protocol-event-right-fine match-protocol-event event">
              <div class="match-protocol-event-right-fine-time time">
                <span class="match-protocol-event-right-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-right-fine-action__img">
                <span class="match-protocol-event-right-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-right-fine-text">
                <p class="match-protocol-event-right-fine-text__item">{{ action.player.fullname }} | #{{ action.player.game_number }}</p>
                <p class="match-protocol-event-right-fine-text__item">{{ action.paragraph }}</p>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "B" %}
             <div class="match-protocol-event-right-goal match-protocol-event event">
              <div class="match-protocol-event-right-goal-time time">
                <span class="match-protocol-event-right-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-right-goal-action__img">
                <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-right-goal-action__text">{{ value.0 }}:<b>{{ value.1 }}</b></span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-right-goal-text">
              <p class="match-protocol-event-right-goal-text__item">{{ action.player_score.fullname }} | #{{ action.player_score.game_number }}</p>
                  {% for player in action.players_passes.all %}
                <p class="match-protocol-event-right-goal-text__item">{{ player.fullname }} | #{{ player.game_number }}</p>
                  {% endfor %}
              </div>
            </div>
                  {% endif %}
                    {% empty %}
               <b>Нет событий</b>
              {% endfor %}
          </div>

            <p class="match-protocol-period__title">2 период</p>
          <div class="match-protocol-period">
                {% for action in view.actions2period %}
                  {% if action.type == "Штраф" and action.team_side == "A" %}
            <div class="match-protocol-event-left-fine match-protocol-event event">
              <div class="match-protocol-event-left-fine-text">
                <p class="match-protocol-event-left-fine-text__item">#{{ action.player.game_number }} | {{ action.player.fullname }}</p>
                <p class="match-protocol-event-left-fine-text__item">{{ action.paragraph }}</p>
              </div>
              <div class="match-protocol-event-left-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-left-fine-action__img">
                <span class="match-protocol-event-left-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-left-fine-time time">
                <span class="match-protocol-event-left-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "A" %}
            <div class="match-protocol-event-left-goal match-protocol-event event">
              <div class="match-protocol-event-left-goal-text">
              <p class="match-protocol-event-left-goal-text__item">#{{ action.player_score.game_number }} | {{ action.player_score.fullname }}</p>
                  {% for player in action.players_passes.all %}
                <p class="match-protocol-event-left-goal-text__item">#{{ player.game_number }} | {{ player.fullname }}</p>
                  {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-left-goal-action__img">
                <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-left-goal-action__text"><b>{{ value.0 }}</b>:{{ value.1 }}</span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-time time">
                <span class="match-protocol-event-left-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Штраф" and action.team_side == "B" %}
            <div class="match-protocol-event-right-fine match-protocol-event event">
              <div class="match-protocol-event-right-fine-time time">
                <span class="match-protocol-event-right-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-right-fine-action__img">
                <span class="match-protocol-event-right-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-right-fine-text">
                <p class="match-protocol-event-right-fine-text__item">{{ action.player.fullname }} | #{{ action.player.game_number }}</p>
                <p class="match-protocol-event-right-fine-text__item">{{ action.paragraph }}</p>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "B" %}
             <div class="match-protocol-event-right-goal match-protocol-event event">
              <div class="match-protocol-event-right-goal-time time">
                <span class="match-protocol-event-right-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-right-goal-action__img">
                <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-right-goal-action__text">{{ value.0 }}:<b>{{ value.1 }}</b></span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-right-goal-text">
              <p class="match-protocol-event-right-goal-text__item">{{ action.player_score.fullname }} | #{{ action.player_score.game_number }}</p>
                  {% for player in action.players_passes.all %}
                <p class="match-protocol-event-right-goal-text__item">{{ player.fullname }} | #{{ player.game_number }}</p>
                  {% endfor %}
              </div>
            </div>
                  {% endif %}
              {% empty %}
               <b>Нет событий</b>
              {% endfor %}
          </div>

            <p class="match-protocol-period__title">3 период</p>
          <div class="match-protocol-period">
                {% for action in view.actions3period %}
                  {% if action.type == "Штраф" and action.team_side == "A" %}
            <div class="match-protocol-event-left-fine match-protocol-event event">
              <div class="match-protocol-event-left-fine-text">
                <p class="match-protocol-event-left-fine-text__item">#{{ action.player.game_number }} | {{ action.player.fullname }}</p>
                <p class="match-protocol-event-left-fine-text__item">{{ action.paragraph }}</p>
              </div>
              <div class="match-protocol-event-left-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-left-fine-action__img">
                <span class="match-protocol-event-left-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-left-fine-time time">
                <span class="match-protocol-event-left-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "A" %}
            <div class="match-protocol-event-left-goal match-protocol-event event">
              <div class="match-protocol-event-left-goal-text">
              <p class="match-protocol-event-left-goal-text__item">#{{ action.player_score.game_number }} | {{ action.player_score.fullname }}</p>
                  {% for player in action.players_passes.all %}
                <p class="match-protocol-event-left-goal-text__item">#{{ player.game_number }} | {{ player.fullname }}</p>
                  {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-left-goal-action__img">
                <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-left-goal-action__text"><b>{{ value.0 }}</b>:{{ value.1 }}</span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-left-goal-time time">
                <span class="match-protocol-event-left-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Штраф" and action.team_side == "B" %}
            <div class="match-protocol-event-right-fine match-protocol-event event">
              <div class="match-protocol-event-right-fine-time time">
                <span class="match-protocol-event-right-fine-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-fine-action">
                <img src="{% static 'img/fine.svg' %}" alt="" class="match-protocol-event-right-fine-action__img">
                <span class="match-protocol-event-right-fine-action__text">{{ action.removal_time}}'</span>
              </div>
              <div class="match-protocol-event-right-fine-text">
                <p class="match-protocol-event-right-fine-text__item">{{ action.player.fullname }} | #{{ action.player.game_number }}</p>
                <p class="match-protocol-event-right-fine-text__item">{{ action.paragraph }}</p>
              </div>
            </div>
                  {% endif %}
                  {% if action.type == "Гол" and action.team_side == "B" %}
             <div class="match-protocol-event-right-goal match-protocol-event event">
              <div class="match-protocol-event-right-goal-time time">
                <span class="match-protocol-event-right-goal-time__text">{{ action.time_minute }}'{{ action.time_second }}''</span>
              </div>
              <div class="match-protocol-event-right-goal-action">
                <img src="{% static 'img/puck.svg' %}" alt="" class="match-protocol-event-right-goal-action__img">
                <!-- TODO: Заменить на прямое обращение к view.state_for_each_goal.KEY-ACTION.0  и .1 -->
                  {% for key, value in view.state_for_each_goal.items %}
                        {% if key == action %}
                  <span class="match-protocol-event-left-goal-action__text">{{ value.0 }}:<b>{{ value.1 }}</b></span>
                            {% endif %}
                    {% endfor %}
              </div>
              <div class="match-protocol-event-right-goal-text">
              <p class="match-protocol-event-right-goal-text__item">{{ action.player_score.fullname }} | #{{ action.player_score.game_number }}</p>
                    {% for player in action.players_passes.all %}
                <p class="match-protocol-event-right-goal-text__item">{{ player.fullname }} | #{{ player.game_number }}</p>
                  {% endfor %}
              </div>
            </div>
                  {% endif %}
              {% empty %}
               <b>Нет событий</b>
              {% endfor %}
          </div>
        </div>
    </div>
  
    <div id="players" class="board-players tab">
      <div class="board-players-teams">
        <p class="board-players__team">{{ view.teamA }}</p>
        <p class="board-players__team">{{ view.teamB }}</p>
      </div>

      <div class="match-players-type">
        <h2 class="board-players-type__title">Вратари</h2>
        <div class="match-players-type-table">
            <div class="match-players-type-row__left">
              <!-- начало цикла -->
                {% for player in view.teamA_goalkeepers %}
              <div class="match-players-type-row-left">
                <span class="match-players-type-row-left__num">{{ player.game_number }}</span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-left__img">
                <a class="match-players-type-row-left__name">{{ player.fullname }}</a>
              </div>
                {% endfor %}
            </div>

            <div class="match-players-type-row__right">
                {% for player in view.teamB_goalkeepers %}
              <div class="match-players-type-row-right">
                <span class="match-players-type-row-right__name"><a>{{ player.fullname }}</a></span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-right__img">
                <span class="match-players-type-row-right__num">{{ player.game_number }}</span>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>

      <div class="match-players-type">
          <h2 class="match-players-type__title">Защитники</h2>
          <div class="match-players-type-table">
            <div class="match-players-type-row__left">
                {% for player in view.teamA_defenders %}
              <div class="match-players-type-row-left">
                <span class="match-players-type-row-left__num">{{ player.game_number }}</span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-left__img">
                <a class="match-players-type-row-left__name">{{ player.fullname }}</a>
              </div>
                {% endfor %}
            </div>

            <div class="match-players-type-row__right">
                {% for player in view.teamB_defenders %}
              <div class="match-players-type-row-right">
                <span class="match-players-type-row-right__name"><a>{{ player.fullname }}</a></span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-right__img">
                <span class="match-players-type-row-right__num">{{ player.game_number }}</span>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>

      <div class="match-players-type">
          <h2 class="match-players-type__title">Нападающие</h2>
          <div class="match-players-type-table">
            <div class="match-players-type-row__left">
              <!-- начало цикла -->
                {% for player in view.teamA_attackers %}
              <div class="match-players-type-row-left">
                <span class="match-players-type-row-left__num">{{ player.game_number }}</span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-left__img">
                <a>{{ player.fullname }}</a>
              </div>
                {% endfor %}
            </div>

            <div class="match-players-type-row__right">
                {% for player in view.teamB_attackers %}
              <div class="match-players-type-row-right">
                <span class="match-players-type-row-right__name"><a>{{ player.fullname }}</a></span>
                <img src="{{ player.image.url }}" alt="" class="match-players-type-row-right__img">
                <span class="match-players-type-row-right__num">{{ player.game_number }}</span>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
    <script>
        //объявляем переменные
var base = 60;
var clocktimer, dateObj, dh, dm, ds, ms;
var readout = '';
var h = 1,
  m = 1,
  tm = 1,
  s = 0,
  ts = 0,
  ms = 0,
  init = 0;

//функция для очистки поля
function ClearСlock() {
  clearTimeout(clocktimer);
  h = 1;
  m = 1;
  tm = 1;
  s = 0;
  ts = 0;
  ms = 0;
  init = 0;
  readout = '00:00:00';
  document.ProtocolForm.stopwatch.value = readout;
}

//функция для старта секундомера
function StartTIME() {
  var cdateObj = new Date();
  var t = (cdateObj.getTime() - dateObj.getTime()) - (s * 1000);
  if (t > 999) {
    s++;
  }
  if (s >= (m * base)) {
    ts = 0;
    m++;
  } else {
    ts = parseInt((ms / 100) + s);
    if (ts >= base) {
      ts = ts - ((m - 1) * base);
    }
  }
  if (m > (h * base)) {
    tm = 1;
    h++;
  } else {
    tm = parseInt((ms / 100) + m);
    if (tm >= base) {
      tm = tm - ((h - 1) * base);
    }
  }
  ms = Math.round(t / 10);
  if (ms > 99) {
    ms = 0;
  }
  if (ms == 0) {
    ms = '00';
  }
  if (ms > 0 && ms <= 9) {
    ms = '0' + ms;
  }
  if (ts > 0) {
    ds = ts;
    if (ts < 10) {
      ds = '0' + ts;
    }
  } else {
    ds = '00';
  }
  dm = tm - 1;
  if (dm > 0) {
    if (dm < 10) {
      dm = '0' + dm;
    }
  } else {
    dm = '00';
  }
  dh = h - 1;
  if (dh > 0) {
    if (dh < 10) {
      dh = '0' + dh;
    }
  } else {
    dh = '00';
  }
  readout = dh + ':' + dm + ':' + ds;
  document.ProtocolForm.stopwatch.value = readout;
  clocktimer = setTimeout("StartTIME()", 1);
}

//Функция запуска и остановки
function StartStop() {
  if (init == 0) {
    ClearСlock();
    dateObj = new Date();
    StartTIME();
    init = 1;
  } else {
    clearTimeout(clocktimer);
    init = 0;
  }
}
      document.getElementById("defaultOpen").click();
      function openBlock(event, blockName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            tablinks[i].style.backgroundColor = "#3241A5";
        }
        document.getElementById(blockName).style.display = "block";
        event.currentTarget.className += " active";
        event.currentTarget.style.backgroundColor = "#14248A";
      }
  
      function createGoalLeft (){
        $('.modal-goal-left').css({'display' : 'flex'});
      }
      function createGoalRight (){
        $('.modal-goal-right').css({'display' : 'flex'});
      }
      function createDelLeft(){
        $('.modal-del-left').css({'display' : 'flex'});
      }
      function createDelRight(){
        $('.modal-del-right').css({'display' : 'flex'});
      }

      $('#stop').mousedown(function(){
        $(this).css({
          'background-color': '#b9c0ea',
        });
      });
      $('#stop').mouseup(function(){
        $(this).css({
          'background-color': '#fff',
        });
      });
      $('#leftGoal').mousedown(function(){
        $(this).css({
          'background-color': '#b9c0ea',
        });
      });
      $('#leftGoal').mouseup(function(){
        $(this).css({
          'background-color': '#fff',
        });
        createGoalLeft();
      });
      $('#leftDel').mousedown(function(){
        $(this).css({
          'background-color': '#b9c0ea',
        });
      });
      $('#leftDel').mouseup(function(){
        $(this).css({
          'background-color': '#fff',
        });
        createDelLeft();
      });
      $('#rightGoal').mousedown(function(){
        $(this).css({
          'background-color': '#b9c0ea',
        });
      });
      $('#rightGoal').mouseup(function(){
        $(this).css({
          'background-color': '#fff',
        });
        createGoalRight();
      });
      $('#rightDel').mousedown(function(){
        $(this).css({
          'background-color': '#b9c0ea',
        });
      });
      $('#rightDel').mouseup(function(){
        $(this).css({
          'background-color': '#fff',
        });
        createDelRight();
      });
      $('#minus').mousedown(function(){
        $(this).css({
          'background-color': 'rgb(20, 36, 138)',
        });
      });
      $('#minus').mouseup(function(){
        $(this).css({
          'background-color': '#3241A5',
        });
      });
      $('#plus').mousedown(function(){
        $(this).css({
          'background-color': 'rgb(20, 36, 138)',
        });
      });
      $('#plus').mouseup(function(){
        $(this).css({
          'background-color': '#3241A5',
        });
      });
      document.addEventListener('keydown', (event) => {
        let keyName = event.code;
        if (keyName === 'Space') {
          event.preventDefault();
          $('#stop').mousedown();
        }
        else if(keyName === 'ShiftLeft'){
          event.preventDefault();
          $('#leftGoal').mousedown();
        }
        else if(keyName === 'AltLeft'){
          event.preventDefault();
          $('#leftDel').mousedown();
        }
        else if(keyName === 'ShiftRight'){
          event.preventDefault();
          $('#rightGoal').mousedown();
        }
        else if(keyName === 'AltRight'){
          event.preventDefault();
          $('#rightDel').mousedown();
        }
        else if(keyName === 'KeyC'){
          event.preventDefault();
          $('#minus').mousedown();
        }
        else if(keyName === 'KeyM'){
          event.preventDefault();
          $('#plus').mousedown();
        }
      });
      document.addEventListener('keyup', (event) => {
        let keyName = event.code;
        if (keyName === 'Space') {
          event.preventDefault();
          $('#stop').mouseup();
        }
        else if(keyName === 'ShiftLeft'){
          event.preventDefault();
          $('#leftGoal').mouseup();
        }
        else if(keyName === 'AltLeft'){
          event.preventDefault();
          $('#leftDel').mouseup();
        }
        else if(keyName === 'ShiftRight'){
          event.preventDefault();
          $('#rightGoal').mouseup();
        }
        else if(keyName === 'AltRight'){
          event.preventDefault();
          $('#rightDel').mouseup();
        }
        else if(keyName === 'AltRight'){
          event.preventDefault();
          $('#rightDel').mouseup();
        }
        else if(keyName === 'KeyC'){
          event.preventDefault();
          $('#minus').mouseup();
        }
        else if(keyName === 'KeyM'){
          event.preventDefault();
          $('#plus').mouseup();
        }
      });
  
      document.addEventListener('keyup', (event) => {
        event.preventDefault();
        let keyName = event.code;
        if (keyName === 'Digit1') {
          document.getElementById("playersBtn").click();
        }
        else if (keyName === 'Digit2'){
          document.getElementById("defaultOpen").click();
        }
        else if (keyName === 'Digit3'){
          document.getElementById("protocolBtn").click();
        }
      })

      document.addEventListener('keyup', (event) =>{
        event.preventDefault();
        let keyName = event.code;
        if(keyName === "esc"){
          $('.modal-goal-right').css({"display":"none"});
          $('.modal-goal-left').css({"display":"none"});
          $('.modal-del-left').css({"display":"none"});
          $('.modal-del-right').css({"display":"none"});
        }
      })
  
      $('.modal-goal-left__submit').on('click', function(){
        $('.modal-goal-left').css({"display":"none"});
        $('.modal-select').removeClass('modal-select-active')
      })
      $('.modal-goal-right__submit').on('click', function(){
        $('.modal-goal-right').css({"display":"none"});
        $('.modal-select').removeClass('modal-select-active')
      })
      $('.modal-del-left__submit').on('click', function(){
        $('.modal-del-left').css({"display":"none"});
        $('.modal-select').removeClass('modal-select-active')
      })
      $('.modal-del-right__submit').on('click', function(){
        $('.modal-del-right').css({"display":"none"});        
        $('.modal-select').removeClass('modal-select-active')
      })

      $('.modal-select').click( function(){
      $(this).toggleClass('modal-select-active')
    });
    </script>
</body>
</html>